{% extends "base.html" %}
{% block content %}

<head>
<meta http-equiv="refresh" content="5">
</head>

<table class="table">
  <tr>
    <th>IP</th>
    <th>OS Name</th>
    <th>Serial number</th>
    <th>Hardware Model</th>
    <th>OS Version</th>
    <th>State</th>
    <th>Message</th>
    <th>Updated at</th>
    <th>ZTP logs</th>
    <th>Delete</th>
  </tr>
  {% for device in devices %}
  {# TODO: jinja context processor #}
  {% if device.state == 'ERROR' %}
  {% set class = 'danger' %}
  {% elif device.state == 'REGISTERED' %}
  {% set class = 'active' %}
  {% elif device.state == 'FINALLY' %}
  {% set class = 'active' %}
  {% elif device.state == 'DONE' %}
  {% set class = 'success' %}
  {% else %}
  {% set class = 'info' %}
  {% endif %}
    <tr class="{{class}}">
      <td>{{device.ip_addr}}</td>
      <td>{{device.os_name}}</td>
      <td>{{device.serial_number}}</td>
      <td>{{device.hw_model}}</td>
      <td>{{device.os_version}}</td>
      <td><span class="label label-{{class}}">{{device.state}}</span></td>
      <td>{{device.message}}</td>
      <td>{{" ".join(device.updated_at.split("T"))}}</td>
      <td><a href="/logs?bootstrapper=y&searchfilter={{device.ip_addr}}">ZTP Logs</a></td>
      <td><a href="/devices/delete/{{device.ip_addr}}"><button type="button" class="btn btn-warning">Delete</button></a></td>
    </tr>
  {% endfor %}
{% endblock %}
