{% extends "base.html" %}
{% block content -%}
{% block meta %}
<link href="/web/static/css/pygments.css" rel="stylesheet" />
{% endblock %}

<ol class="breadcrumb">
  {# <li><a href="{{ url_for('browse') }}">browse</a></li> #}
  <li><a href="{{ url_for('web.browse') }}">browse</a></li>
{% if folder != '/' %}
  {% set ns = namespace(prev='') %}
  {% for crumb in folder.split('/') -%}
    {% if loop.last %}
    <li class="active"><a href="/view/{{ folder }}">{{ crumb }}</a></li>
    {% else %}
    <li><a href="/browse/{{ ns.prev }}{{ crumb }}">{{ crumb }}</a></li>
    {% set ns.prev = ns.prev + crumb + '/' %}
    {% endif %}
  {% endfor %}
{% endif %}
</ol>

<table>
  <tr><th><p>File name </p></th><td><p> : {{ filename }} </p></td></tr>
  <tr><th><p>File size </p></th><td><p> : {{ stat.st_size|filesizeformat }}</p></td></tr>
</table>
<div class="highlight">
{{ content|safe }}
</div>
{% endblock %}
